.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

.btn {
  margin: 3% 42%;
  background: #00b371;
  background-image: -webkit-linear-gradient(top, #00b371, #0bd199);
  background-image: -moz-linear-gradient(top, #00b371, #0bd199);
  background-image: -ms-linear-gradient(top, #00b371, #0bd199);
  background-image: -o-linear-gradient(top, #00b371, #0bd199);
  background-image: linear-gradient(to bottom, #00b371, #0bd199);
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 28px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #a31b1b;
  background-image: -webkit-linear-gradient(top, #a31b1b, #570b0b);
  background-image: -moz-linear-gradient(top, #a31b1b, #570b0b);
  background-image: -ms-linear-gradient(top, #a31b1b, #570b0b);
  background-image: -o-linear-gradient(top, #a31b1b, #570b0b);
  background-image: linear-gradient(to bottom, #a31b1b, #570b0b);
  text-decoration: none;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
